<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.markbirbeck.cordova.plugin.AppBarPlugin"
        version="0.2.2">

  <name>AppBarPlugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <js-module src="www/js/appBarPlugin.js" name="appBarPlugin">
    <clobbers target="appBar" />
  </js-module>

  <platform name="android" xmlns:android="http://schemas.android.com/apk/res/android">

    <config-file target="res/xml/config.xml" parent="/*">
      <!--
        Plugins must be registered as a feature in config.xml to make them available:
      -->
      <feature name="AppBarPlugin">
        <param name="android-package" value="com.markbirbeck.cordova.plugin.AppBarPlugin"/>
      </feature>

      <!--
        Prevent Cordova from using the entire screen for the WebView:
      -->
      <preference name="Fullscreen" value="false" />

      <!--
        Show the title on the app bar, which makes the app bar visible:
      -->
      <preference name="ShowTitle" value="true" />
    </config-file>

    <!--
      Copy all of the source:
    -->
    <source-file
     src="src/android/main/java/com/markbirbeck/cordova/plugin/"
     target-dir="src/com/markbirbeck/cordova/"
    />
  </platform>

</plugin>